@charset "ISO-8859-1";

.box {
	position: absolute;
	top: 30px;
	left: 10px;
	width: 400px;
	height: 250px;
	border: 5px;
	border-color: black;
	padding: 50px;
	border-radius: 30px;
	border-color: black;
	background-color:transparent;
	border: 50px;
	border-color: black;
}

button {
	
	background-color: transparent;
	color: darkorange;
	width: 120px;
	height: 50px;
	border-radius: 20px;
	
}