@charset "ISO-8859-1";



.box{
    position: absolute;
    top: 250px;
    left: 550px;
    width: 200px;
    height: 230px;
    border: 5px;
    border-color: black;
    padding: 50px;
    border-radius: 30px;
    
    background-color: rgba(201, 206, 205, 0.37);
    border: 50px;
    border-color: black;
    }
