@charset "ISO-8859-1";

.box {
	position: absolute;
	left: 50px;
	top: 100px;
	width: 450px;
	height: 150px;
	background-color: transparent;
}

#b{
  background-color: transparent;
  top:250px;
  width: 150px;
  height: 50px;
  border-radius: 15px; 
  }